{% extends "layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render('Ficha de Inscrição', 'user-edit container') %}

    <form
        id="register-user" 
        method="POST" 
        action="
            {% if session.userIdAdmin %} 
                /admin/user/{{ user.id }}?_method=PUT
            {% else %}
                /users/edit?_method=PUT
            {% endif %}
        "
    >
        <div class="fields">

            {% include 'users/fields.njk' %} 

            <input 
                type="hidden" 
                name="id" 
                value="{{ user.id }}">

        </div>
    </form>

    <form id="delete-user" method="POST" action="/admin/user?_method=DELETE" >
        <input type="hidden" name="id" value="{{ user.id }}">
    </form>

    <div class="buttons">
        <button class="button edit" type="submit" form="register-user" onclick="Validate.allFields(event)">Atualizar</button>
        {% if session.userIdAdmin %}
            <button class="button delete"type="submit" form="delete-user">Deletar Cadastro</button>
        {% endif %}
        <a href="#" onclick="history.back()">Voltar</a>
    </div>

{% endcall %}


{% endblock content %}