<div class="sub-title">
    <h4>Selecione a função desejada</h4>
</div>

<div class="functions-grid">
    <li data-id="Regular(F01)">
        <h4>
            ESTÁGIO REGULAR</br>
            FUNÇÃO 01
        </h4></br>
        <p>Atividade Complementar</p>
    </li>

    <li data-id="Especial(F02)">
        <h4>
            ESTÁGIO ESPECIAL</br>
            FUNÇÃO 02
        </h4></br>
        <p>Educação Especial</p>
    </li>
</div>
<input type="hidden" name="funcs" value="{{ user.funcs }}">


<div class="sub-title">
    <h4>Dados Cadastrais</h4>
</div>

<div class="item">
    <div>Nome Completo</div>
    <div class="input">
        <input 
            type="text" 
            name="name"
            value="{{ user.name }}"
        >           
    </div>
</div>

<div class="grid">
    <div class="item">
        <div>CPF</div>
        <div class="input">
            <input 
                type="text" 
                name="cpf"
                autocomplete="off"
                value="{{ user.cpf }}"
                onkeydown="Mask.apply(this, 'cpf')"
                onblur="Validate.apply(this, 'isCpf')" 

            >           
        </div>
    </div>
    <div class="item">
        <div>Data de Nascimento </div>
        <div class="input">
            <input 
                type="date" 
                name="birth_date"
                value="{{ user.birth_date }}" 
            >          
        </div>
    </div>

    <div class="item">
        <div>Possui Necessidades Especiais?</div>
        <div class="radio">        
            <span>
                <input
                    id="deficient1" 
                    type="radio" 
                    name="deficient" 
                    value="1" 
                    {% if user.deficient == '1'%}
                        checked
                    {% endif %}
                    > 
                <label for="deficient1">Sim</label>
                
            </span>
        
            <span>
                <input
                id="deficient2" 
                type="radio" 
                name="deficient" 
                value="0"
                {% if user.deficient == '0'%}
                    checked
                {% endif %}
                >
                <label for="deficient2">Não</label>
            </span>

        </div>
    </div>
</div>

<div class="item">
    <div>CEP</div>
    <div class="input">
        <input 
            type="text" 
            name="cep"
            value="{{ user.cep }}"
            onkeydown="Mask.apply(this, 'cep')"
            onblur="Validate.apply(this, 'isCep')" 
        >           
    </div>
</div>

<div class="item">
    <div>Logradouro/Endereço</div>
    <div class="input">
        <input 
            type="text" 
            name="address"
            value="{{ user.address }}"
             
        >           
    </div>
</div>

<div class="grid">
<div class="item">
    <div>Número</div>
    <div class="input">
        <input 
            type="text" 
            name="address_number"
            value="{{ user.address_number }}"
             
        >           
    </div>
</div>
<div class="item">
    <div>Complemento</div>
    <div class="input">
        <input 
            id="not_required"
            type="text" 
            name="address_complement"
            value="{{ user.address_complement }}"
             
        >           
    </div>
</div>
<div class="item">
    <div>Bairro</div>
    <div class="input">
        <input 
            type="text" 
            name="address_district"
            value="{{ user.address_district }}"
             
        >           
    </div>
</div>
</div>

<div class="sub-title">
    <h4>Dados Educacionais</h4>
</div>

<div class="grid">
    <div class="item">
        <div>Selecione o Curso Superior</div>
        <div> 
            <select name="course_id">
                <option value="" disabled selected>Selecione uma opção</option>
                {% for course in courses %}
                    <option value="{{course.id}}" {% if user.course_id == course.id %}selected{% endif %}>
                        {{course.name}}
                    </option>
                {% endfor %}

            </select>
        </div>
    </div>

    <div class="item">
        <div>Selecione a Instituição</div>
        <div> 
            <select name="college_id">
                <option value="" disabled selected>Selecione uma opção</option>
                {% for college in colleges %}
                    <option value="{{college.id}}" {% if user.college_id == college.id %}selected{% endif %}>
                        {{college.name}}
                    </option>
                {% endfor %}

            </select>
        </div>
    </div>

    <div class="item">
        <div>Selecione o Período/Semestre</div>
        <div>
            <select name="period_course">
                <option value="" disabled selected>Selecione uma opção</option>
                <option {% if user.period_course == '1° Período/Semestre' %}selected{% endif %}>
                    1° Período/Semestre
                </option>
                <option {% if user.period_course == '2° Período/Semestre' %}selected{% endif %}>
                    2° Período/Semestre
                </option>
                <option {% if user.period_course == '3° Período/Semestre' %}selected{% endif %}>
                    3° Período/Semestre
                </option>
                <option {% if user.period_course == '4° Período/Semestre' %}selected{% endif %}>
                    4° Período/Semestre
                </option>
                <option {% if user.period_course == '5° Período/Semestre' %}selected{% endif %}>
                    5° Período/Semestre
                </option>
                <option {% if user.period_course == '6° Período/Semestre' %}selected{% endif %}>
                    6° Período/Semestre
                </option>
                <option {% if user.period_course == '7° Período/Semestre' %}selected{% endif %}>
                    7° Período/Semestre
                </option>
                <option {% if user.period_course == '8° Período/Semestre' %}selected{% endif %}>
                    8° Período/Semestre
                </option>
                
            </select>
        </div>
    </div>

</div>

<div class="item">
        <div>Possui Curso Normal ou Magistério?</div>
        <div class="radio">        
            <span>
                <input
                    id="specialization_regular_1" 
                    type="radio" 
                    name="specialization_regular" 
                    value="1" 
                    {% if user.specialization_regular == '1'%}
                        checked
                    {% endif %}
                    > 
                <label for="specialization_regular_1">Sim</label>
                
            </span>
        
            <span>
                <input
                id="specialization_regular_2" 
                type="radio" 
                name="specialization_regular" 
                value="0"
                {% if user.specialization_regular == '0'%}
                    checked
                {% endif %}
                >
                <label for="specialization_regular_2">Não</label>
            </span>

        </div>
    </div>

    <div class="item">
        <div>Possui Curso de Capacitação Especial?</div>
        <div class="radio">        
            <span>
                <input
                    id="specialization_special_1" 
                    type="radio" 
                    name="specialization_special" 
                    value="1" 
                    {% if user.specialization_special == '1'%}
                        checked
                    {% endif %}
                    > 
                <label for="specialization_special_1">Sim</label>
                
            </span>
        
            <span>
                <input
                id="specialization_special_2" 
                type="radio" 
                name="specialization_special" 
                value="0"
                {% if user.specialization_special == '0'%}
                    checked
                {% endif %}
                >
                <label for="specialization_special_2">Não</label>
            </span>

        </div>
    </div>

<div class="sub-title">
    <h4>Contatos</h4>
</div>

<div class="item">
    <div>E-mail</div>
    <div class="input">
        <input 
            type="email" 
            name="email"
            value="{{ user.email }}"
            onblur="Validate.apply(this, 'isEmail')" 
        >           
    </div>
</div>

<div class="grid">
    <div class="item">
        <div>N° Telefone Celular 1</div>
        <div class="input">
            <input 
                type="text" 
                name="phone1"
                value="{{ user.phone1 }}"
                onkeydown="Mask.apply(this, 'phone')"
                onblur="Validate.apply(this, 'isPhone')" 
            >           
        </div>
    </div>
    <div class="item">
        <div>N° Telefone Celular 2</div>
        <div class="input">
            <input
                id="not_required" 
                type="text" 
                name="phone2"
                value="{{ user.phone2 }}"
                onkeydown="Mask.apply(this, 'phone')"
            >           
        </div>
    </div>
</div>

{% if not session.userIdAdmin %}

    <div class="sub-title">
        <h4>Segurança</h4>
    </div>

    <div class="item">
        {% if not user.id %}
            <div>Crie uma Senha</div>
        {% else %}
            <div>Insira sua senha para atualizar os dados</div>
        {% endif %}
        <div class="input">
            <input
                type="password" 
                name="password"
            >           
        </div>
    </div>

    {% if not user.id %}

    <div class="item">
        <div>Repita a Senha Criada</div>
        <div class="input">
            <input 
                type="password" 
                name="passwordRepeat"
            >           
        </div>
    </div>

    {% endif %}
{% endif %}
