{% extends "layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render('Painel de Controle', 'user-dashboard container') %}

<h4>Olá {{firstNameUser}}, seja bem vido(a).</h4>

<div class="content">

    <div class="options">
        <a href="/users/print-form/{{user.id}}/pdf">Imprimir Ficha de Inscrição</a>
        <a href="/users/edit">Atualizar Dados Cadastrais</a>
    </div>

    <div class="classification">
        <p>Classificação Parcial</p>
        <div><p>10°</p></div>        
    </div>
    

</div>

<div class="footer">
    <p>Dúvidas? Entre em contato por <a href="mailto:educacao@muriae.mg.gov.br">educacao@muriae.mg.gov.br</a></p>
</div>

{% endcall %}



{% endblock content %}