{% extends "admin/layout-adm.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render('Configurações do Processo Seletivo', 'configs-dashboard container') %}

<h4>Todas as informações são necessárias para funcionamento do processo e serão apresentadas para o usuário.</h4>

<div class="content">

    <form action="/admin/configs/data" method="post">
        <div class="fields">

            <div class="item">
                <div>Nome do Processo Seletivo</div>
                <div class="input">
                    <input 
                        type="text" 
                        name="process_name"
                        value="{{ config.process_name }}"
                    >           
                </div>
            </div>
            <div class="grid">
                <div class="item">
                    <div>Número do Edital</div>
                    <div class="input">
                        <input 
                            type="number" 
                            name="edict_number"
                            value="{{ config.edict_number }}"
                        >           
                    </div>
                </div>

                <div class="item">
                    <div>Data do Edital</div>
                    <div class="input">
                        <input 
                            type="date" 
                            name="date_edict"
                            value="{{ config.date_edict }}"
                        >           
                    </div>
                </div>

                <div class="item">
                    <div>Data Inicial da Inscrição</div>
                    <div class="input">
                        <input 
                            type="date" 
                            name="inicial_date"
                            value="{{ config.inicial_date }}"
                        >           
                    </div>
                </div>

                <div class="item">
                    <div>Data Final de Inscrição</div>
                    <div class="input">
                        <input 
                            type="date" 
                            name="final_date"
                            value="{{ config.final_date }}"
                        >           
                    </div>
                </div>
            </div>

            <div class="item">
                <div>Declaração de Responsabilidade</div>
                <div class="input">
                    <textarea 
                        name="declaration" 
                        id="" 
                        cols="30" 
                        rows="10"
                        placeholder="Essa declaração será fixada no Ficha de Inscrição"
                        >{{ config.declaration }}</textarea>        
                </div>
            </div>

        </div>

        <div class="buttons">
            <button class="button" type="submit">Salvar</button> 
            <button class="button delete" type="submit" form="delete-config">Deletar</button>
               
        </div>
    </form>
    <form action="/admin/configs/data/?_method=DELETE" method="post" id="delete-config">
        <input type="hidden" name="configId" value="{{config.id}}">
    </form>
    </form> 
</div>


{% endcall %}



{% endblock content %}