{% extends "admin/layout-adm.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render('Painel de Controle', 'dashboard-admin container') %}

<h4>Olá Admin, seja bem vido(a).</h4>

<div class="content">

    <div class="options">
        <a href="/admin/search">Pesquisar Candidato(a)</a>
        <a href="/admin/configs">Configuração do Processo</a>
        <a href="/">Classificação Momentânia</a>
        <a href="/">Gerar Classificação</a>

    </div>

    <div class="classification">
        <p>Número de inscritos</p>
        <div><p>{{totalUsers}}</p></div>        
    </div>

</div>


{% endcall %}



{% endblock content %}