{% extends "admin/layout-adm.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render('Classificação do Processo Seletivo', 'user-dashboard container classification') %}

<div class="content">

    {% if classifiedUsers %}
        <h4>Função Regular F01</h4>
    {% else %}
        <h4>Função Especial F02</h4>
    {% endif %}

    

    <div class="options">
    
        {# condition to generate classification (regular or special) #}
        {% if classifiedUsers %}
            <form action="/admin/classification/regular" method="post" >
                <button class="button" type="submit">Gerar Classificação</button> 
            </form>
        {% else %}
            <form action="/admin/classification/special" method="post" >
                <button class="button" type="submit">Gerar Classificação</button> 
            </form>
        {% endif %}

        {# condition to print classification (regular or special) #}
        {% if classifiedUsers %}
            <a href="/clf/regular" target="_blank">Imprimr Classificação</a>
        {% else %}
            <a href="/clf/especial" target="_blank">Imprimr Classificação</a>
        {% endif %}

        <div>
            <h4>Orientação</h4>
            <p><strong>*</strong> Gere a classificação e posteriormente realize a impressão.</p>
            <p><strong>*</strong> Todos os candidatos são notificados do resultado ao "Gerar a Classifcação".</p>
        </div>
    </div>

    <table class="classification">
        <thead>
            <tr>
                <th>CL</th>
                <th>Curso</th>
                <th>Nome</th>
                <th>Data Nasc</th>
                <th>Deficiente</th>
                <th>Magistério</th>
                {% if classifiedUsersSpecial %}
                    <th>Especial</th>
                {% endif %}
                <th>Período/Semestre</th>
                <th>IES</th>                
                <th>Ação</th>                
            </tr>
        </thead>
        <tbody>
            {% for user in classifiedUsers or classifiedUsersSpecial %}
                <tr>
                    <td>{{user.position}}º</td>
                    <td>{{user.course_name}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.birth_date}}</td>
                    <td>{{user.deficient}}</td>
                    <td>{{user.specialization_regular}}</td>
                    {% if classifiedUsersSpecial %}
                        <td>{{user.specialization_special}}</td>
                    {% endif %}
                    <td>{{user.period_course}}</td>
                    <td>{{user.college_name}}</td>
                    <td>
                        <div class="action">
                            <a class="button-action" href="/admin/user/{{ user.id }}" title="Editar Usuário">
                                <img src="/images/edit-24.svg" alt="Editar Usuário">
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="legend">
        <h4>Legenda</h4>
        <p>
            CL: Classificação </br>
            IES: Instituição de Ensino Superior
        </p>
    </div>


</div>



{% endcall %}



{% endblock content %}