<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <link rel="stylesheet" href="/styles/print-classif.css">

        <title>Classificação</title>        
    </head>

    <body>
        <header>
            <div class="container">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo-pq-5.png" alt="">
                    </a>  
                </div>
                <div class="title">
                    <h3>
                        Classificação </br>
                        Processe Seletivo Estágio - Edital n° {{config.edict_number}}/{{config.date_edict}}
                    </h3>
                </div>
            </div>
            
        </header>

        <div class="content">

            {% if classifiedUsers %}
                <h4>Função Regular F01</h4>
            {% else %}
                <h4>Função Especial F02</h4>
            {% endif %}

            <table class="classification">
                <thead>
                    <tr>
                        <th>CL</th>
                        <th>Curso</th>
                        <th>Nome</th>
                        <th>Data Nasc</th>
                        <th>Deficiente</th>
                        <th>Magistério</th>
                        {% if classifiedUsersSpecial %}
                            <th>Especial</th>
                        {% endif %}
                        <th>Período/Semestre</th>
                        <th>IES</th>                               
                    </tr>
                </thead>
                <tbody>
                    {% for user in classifiedUsers or classifiedUsersSpecial %}
                        <tr>
                            <td>{{user.position}}º</td>
                            <td>{{user.course_name}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.birth_date}}</td>
                            <td>{{user.deficient}}</td>
                            <td>{{user.specialization_regular}}</td>
                            {% if classifiedUsersSpecial %}
                                <td>{{user.specialization_special}}</td>
                            {% endif %}
                            <td>{{user.period_course}}</td>
                            <td>{{user.college_name}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="legend">
                <h4>Legenda</h4>
                <p>
                    CL: Classificação </br>
                    IES: Instituição de Ensino Superior
                </p>
            </div>
        </div>

        <footer>
            <p>Av. Maestro Sansão, 236 - Centro, Muriaé/MG - 1º Andar - Tel.: (32) 3729-1233 - E-mail: educacao@muriae.mg.gov.br</p>
        </footer>

    </body>
</html>