{% extends "layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render('Inscrição realizada com sucesso', 'subscription-success  container') %}

<div class="success-lottie"></div>

    <p>
        Enviamos um e-mail contendo o recibo de sua inscrição. </br>
        Acesse a Área Restrita para imprimir a Ficha de Inscrição.
    </p>

    <div class="footer">
        <a href="/session/login">Acessar Área Restrita</a>    
    </div>
</div>

{% endcall %}

<script src="/lottie.min.js"></script>

<script>
    const element = document.querySelector('.success-lottie')

    lottie.loadAnimation({
        container: element, // the dom element that will contain the animation
        renderer: 'svg',
        loop: false,
        autoplay: true,
        path: '/9603-success.json' // the path to the animation json
        });
</script>

{% endblock content %}