{% extends "admin/layout-adm.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render('Cadastro de Instituições de Ensino', 'colleges-admin container') %}

<div class="menu-bar">

        <a class="button-action" href="/admin/college/{{ college.id }}" title="Editar Usuário">Cadastrar IES</a>

</div>

<div class="content">

    <table width="100%">
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for college in colleges %}
                <tr>
                    <td>{{college.name}}</td>
                    <td>{{college.full_name}}</td>
                    <td>{{college.cnpj}}</td>
                    <td>
                        <div class="action">
                            <a class="button-action" href="/admin/configs/colleges/{{ college.id }}" title="Editar Usuário">
                                <img src="/images/edit-24.svg" alt="Editar Usuário">
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endcall %}



{% endblock content %}